/* Calendar.css */
.calendar-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .calendar-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .scrollable-calendar {
    max-height: 400px; /* Set your desired max height */
    overflow-y: auto;
  }
  
  .calendar-rows {
    display: flex;
    flex-direction: column; /* Change to column direction */
  }
  
  .calendar-row {
    flex: 1;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  
  .hour-label {
    font-weight: bold;
  }
  
  .event {
    font-size: 0.9em;
  }
  /* Calendar.css */
.scrollable-calendar {
    max-height: 400px; /* Set your desired max height */
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
  }
  
  /* Hide scrollbar for Webkit (Chrome, Safari) */
  .scrollable-calendar::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .scrollable-calendar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  