.todo-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  margin: 1vh;
  padding: 1vh;
}

.todo-header h1{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}

.todo-header button {
  margin: 0 5px;
}

.todo-divider {
  background-color: black;
  height: 2px;
  width: 100%;
  margin: 10px 0;
}

.todo-tasklist {
  width: 100%;
}

.todo-tasklist li {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 1px;
  /*border: 1px solid black;
  border-radius: 5px;*/
}

.todo-tasklist ul {
  background-color: lightgrey;
}

.todo-task-head {
  display: flex;
  justify-content: space-between;
}

.todo-task-head span {
  padding: 0 0.5vh;
  width: 100%;
}

.todo-addtask input {
  padding-left: 5px;
  outline: none;
}

.completed {
  opacity: 0.35;
}